
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

.sofia{
    font-family: 'Sofia', cursive;
}
.sofia2{
    font-family: 'Sofia', cursive;
    size: 10px;  
    color:blue
}
.form{
    display: flex;
    justify-content: flex-start;
}
.btn1{
    background-color: blue;
}
.red{
    color:crimson
}
.green{
    color:darkgreen
}
