body {
    
 
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2e9127c8-1a47-4d80-aded-3813c1f09bcf/d2n11f-d8bf8171-9567-4705-827e-04b7005bd4fa.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJlOTEyN2M4LTFhNDctNGQ4MC1hZGVkLTM4MTNjMWYwOWJjZlwvZDJuMTFmLWQ4YmY4MTcxLTk1NjctNDcwNS04MjdlLTA0YjcwMDViZDRmYS5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.0z0wzXUA13_lEmru9pH4HqyC9CYvHTllvkY440Za7Zw") !important;
 
    background-repeat: no-repeat !important;
    background-size: cover !important;
    
}
